services:
  # Frontend Application
  animegeek:
    build:
      context: .
      args:
        # Build-time environment variables
        VITE_TMDB_TOKEN: ${VITE_TMDB_TOKEN}
    ports:
      - "${PORT:-3000}:80"
    container_name: animegeek
    image: animegeek
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    networks:
      - animegeek-network

networks:
  animegeek-network:
    driver: bridge
